@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --dark-background-color: #252B42;
  --disabled-element-color: #8EC2F2;
  --light-color: #FFFFFF;
  --primary-color: #FFA62B;
  --second-text-color: #737373;
  --secondary-color-1: #00A0C1;
  --secondary-color-2: #16697A;
  --text-color: #252B42;
  --light-bg-color: #fafafa;
  --grey-color: #252B42;
  --light-blue-color: #21A6DF;
  --dark-blue-color: #335BF5;
  --light-grey-color: #DEDEDE;
  --hot-red-color: #E42F08;
  --violet-color: #E51F5A;
  --usual-grey-color: #F3F3F3;
  --light-white-color: #F9F9F9;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.aling-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.header {
  position: absolute;
  width: 100%;
  top: 36px;
}
.header__logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1px;
  margin-right: 117px;
  display: inline-block;
  color: var(--text-color);
}
.header__link {
  color: var(--second-text-color, #737373);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.header__link:not(:last-child) {
  margin-right: 21px;
}

.hero {
  height: 100vh;
  background: url(../img/hero-bg.jpg) no-repeat center/cover;
}/*# sourceMappingURL=style.css.map */